<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <filter>
    <filter-name>MoesifFilter</filter-name>
    <filter-class>com.moesif.servlet.MoesifFilter</filter-class>
    <init-param>
      <param-name>application-id</param-name>
      <param-value>eyJhcHAiOiIyMjM6MTIiLCJ2ZXIiOiIyLjAiLCJvcmciOiIzNTE6MTUiLCJpYXQiOjE0OTAwNTQ0MDB9.RkPJ__KpWdvvDCo2bnVs3baXckzanHNn6gxW5xqltYU</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>MoesifFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


  <servlet>
    <servlet-name>Servlet Example</servlet-name>
    <servlet-class>com.moesif.servlet.example.ServletDemo</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Servlet Example</servlet-name>
    <url-pattern>/demo</url-pattern>
  </servlet-mapping>
</web-app>